@use 'base';


@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Inter/Inter-Regular.woff') format('woff'),
  url('../../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Inter/Inter-Medium.woff') format('woff'),
  url('../../assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
  url('../../assets/fonts/Inter/Inter-SemiBold.woff') format('woff'),
  url('../../assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  position: relative;
  box-sizing: border-box;
  letter-spacing: 0;
}

html, body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: base.$color-text-primary;
  background-color: base.$color-bg-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

ul, ol {
  list-style-position: outside;
  margin-left: 1em;
}
