@use '../../components/scss/base';

.page {
  @include base.container;
}

.filters {
  top: 0;
  z-index: 10;
  background: base.$color-bg-primary;
  padding-bottom: 16px;
  border-bottom: 1px solid base.$color-border;

  &.sticky {
    position: sticky;
    box-shadow: base.$shadow-md;
  }
}

.content {
  padding-top: 16px;
}

.error,
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  @include base.text-base;
  color: base.$color-text-secondary;
}

.error {
  color: base.$color-error-border;
}
